<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Hệ thống đang bảo trì</title>

  <style>
    body {
      text-align: center;
      padding: 150px;
      background: #f4f4f4;
      font-family: sans-serif;
    }
    h1 {
      font-size: 50px;
      color: #333;
    }
    p {
      font-size: 20px;
      color: #666;
    }
    .icon {
      font-size: 100px;
      color: #f39c12;
    }
  </style>
</head>

<body>
  <div class="icon">🛠️</div>
  <h1>Coming back soon!!</h1>
  <p>Trang web hiện đang được bảo trì định kỳ. Xin lỗi vì sự bất tiện này.</p>
</body>

</html>